*{
    margin: 0;
    padding: 0;
}
body, html{
    height: 100%;
}
#container{
background-image: url(FrontPagePicture.jpg);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#bar{
    width: 100%;
    text-align: center;
    
}
li{
    display: inline-block;
    /* padding: 8px; */
    padding: 0 1%;
    margin-top: 2%;
}
a{
    font-family: fantasy;
    text-decoration: none;
    color: black;
    /* font-size: 17px; */
    font-size:large;
    border-color: black;
        border-style: solid;
        border-radius: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 8px;
        padding-bottom: 8px;

}
a:hover{
    background-color: white;
    border-color: white;
}
#fronttext{
    font-family: fantasy;
    color: black;
    justify-content: center;
    text-align: center;
    margin-top: 15%;
    font-size: large;
}
#fronttext:hover{
    text-decoration: underline;
}
#flexbox-container{
    min-width: 100%;
    min-height: 50%;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    padding: 10% 0;

}
#flexbox-container h1{
    font-family: fantasy;

}
#flexbox1{
    border: solid black ;
    width: 20%;


}
#flexbox1 h1{
    text-align: center;

}
#flexbox1 p {
    padding-left: 2%;
    padding-right: 2%;

}
#flexbox2{
    border: solid black;
    width: 20%;
}
#flexbox2 h1 {
    text-align: center;

}
#flexbox2 p {
    padding-left: 2%;
    padding-right: 2%;

}
#flexbox3{
    border: solid black;
    width: 20%;

}
#flexbox3 h1 {
    text-align: center;

}
#flexbox3 p {
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;

}
#thirdcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    padding: 5% 0;
    min-height: 50%;
    max-width: 100%; 
    background-color: #2b303b;
    

}
#child1{
    display: flex;
    padding-left: 10%;




}
#child2{
    display: flex;
    width: 50%;
    color: white;
    padding-right: 10%;


}
